{% extends 'base.html.twig' %}

{% block title %}Mentions Légales {% endblock title %}

{% block body %}
    <div class="container">
        <div class="col-md-12">
            <h2>Infos légales</h2>

            <p>questcequetuveux.com est éditée par :<br>
            Champagne Ardenne Services Express France</p>

            <p>SASU au capital de 2000 euros,<br>
            Immatriculée au RCS de Reims sous le numéro 794 629 881</p>

            <p>Siège social : 8, rue Lavoisier – 75008 Paris.<br>
            Numéro de TVA intracommunautaire : FR0379462988</p>

            <p>Directeur de Publication : Monsieur Diafouka Valere</p>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
