{% extends 'base.html.twig' %}

{% block title %}Cotation transport {% endblock title %}
{% block body %}

    <div class="container">
        <div class="col-md-12">
            <h2>Cotation transport</h2>
            <p>Une demande de cotation est l’acte par lequel une entreprise ou un particulier qui a un projet d’exportation, demande auprès d’un transporteur, ou d’un transitaire le coût global du projet.

                La cotation tient compte de nombreux paramètres liés à la fonction logistique: Mode de transport, lieu de départ, d’arriver, le type de marchandise, la quantité, le poids , le volume …

                Merci de nous transmettre les informations ci dessus,afin que votre cotation soit sans surprise.</p>
        </div>
    </div>


{% endblock %}