{% extends "::base.html.twig" %}

{% block title %}Déposer une Annonce{% endblock %}

{% block body %}
    <div class="container">

        <h1>Ajouter une annonce</h1>

        {{ form(form) }}
    </div>
{% endblock %}
