/*Header*/
/*Top nav left*/
.top-nav {
;
    color: #333;
    line-height: 40px;
    border-bottom: 1px solid #01b1d7;
}

/*Top left Menu*/
.top-left {
    float: left;
}

.top-left ul >li {
    display: inline-block;
    margin-right: 15px;
}

.top-left a {
    font-size: 13px;
    color: #333;
}

.top-left a:hover {
    color: #01b1d7;
}

/*Top Right Menu*/
.top-right {
    float: right;
}

.top-right p:before {
    content: "\f126";
    font-family: 'FontAwesome';
    font-size: 16px;
    color: #01b1d7;
    margin-right: 10px;
}

.top-right p {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 11px;
}

.top-right p > span {
    margin-left: 5px;
    font-style: italic;
    font-weight: 400;
}


/*Nagivation*/
#main-nav {
    padding: 15px 0;
}

/*Affix*/
#main-nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.9);
    color: #fff;
    z-index:10;
    -moz-box-shadow: 0 1px 2px #ebebeb;
    -webkit-box-shadow: 0 1px 2px #ebebeb;
    box-shadow: 0 5px 5px rgba(0,0,0,.15);
    transition: all 0.3s;
}

.navbar {
    margin:0;
}

#main-nav .navbar-header a {
    background-color: #01b1d7;
    color: #fff;
}
/*Toggle Menu*/
#main-nav .navbar-toggle {
    background-color: #01b1d7;
}

#main-nav .navbar-toggle span {
    background-color: #fff;
}

/*Main Menu*/

#main-nav .navbar-left {
    margin-top: 10px;
}
#main-nav .navbar-left li > a {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #2289a5;
    padding-top: 0;
    padding-bottom: 0;
    text-transform: uppercase;
}

#main-nav .navbar-right {
    margin-top: 10px;
}
#main-nav .navbar-right li > a {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    color: #555;
    padding-top: 0;
    padding-bottom: 0;
    text-transform: uppercase;
}

#main-nav .navbar-right li > a:focus {
    color: #01b1d7;
    background: none;
    outline: none;
}

#main-nav .navbar-nav>li>a:hover,
#main-nav .navbar-nav>li.active>a {
    color: #01b1d7;
    background: none;
}

/*Search Form*/
.search-form {
    padding: 10px;
    position: absolute;
    bottom: -76px;
    right: 15px;
    z-index: 3;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s linear;
    -moz-box-shadow: 0 1px 2px #ebebeb;
    -webkit-box-shadow: 0 1px 2px #ebebeb;
    box-shadow: 0 1px 2px #ebebeb;
}

.search-form.visible {
    visibility: visible;
    opacity: 1;
}

.search-form input {
    height: 40px;
    width: 275px;
    border-color: #e8e8e8;
}


/*Footer*/
#footer {
    margin-top: 100px;
    background-color: #181818;
    padding: 50px 0;
}

#footer .footer-heading {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding: 0 20px;
    color: #fff;
}

#footer .footer-heading h3 {
    font-size: 20px;
    text-transform: capitalize;
}

#footer .footer-heading span {
    border-bottom: 2px solid #01b1d7;
    padding-bottom: 8px;
}

#footer .footer-heading p {
    font-family: 'Open Sans', sans-serif;
    word-spacing: 3px;
    font-weight: 300;
    margin-top: 40px;
    color: #7e7e7e;
}

#footer .footer-heading ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}

#footer .footer-heading li {
    border-bottom: 1px solid #8b8b8b;
    padding: 10px 0;
}

#footer .footer-heading ul > li > a:before {
    content: "\f10c";
    font-family: 'FontAwesome';
    padding-right: 10px;
}

#footer .footer-heading ul > li > a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding-top: 9px;
    padding-bottom: 9px;
    color: #7e7e7e;
}

#footer .footer-heading ul > li > a:hover {
    color: #01b1d7;
}

#footer .insta img {
    float: left;
    width: 100px;
    height: 100px;
}

.credits a {
    color: #fff;
}

/*Bottom Footer*/
#bottom-footer {
    background-color: #282828;
    padding: 20px 0;
    color: #8e8e8e;
}

#bottom-footer .footer-right ul > li > a {
    color: #8e8e8e;
}

#bottom-footer .footer-right ul > li > a:hover {
    color: #01b1d7;
}

/* Button */
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group{
    background-color: #708090;
    color: #fff;
}

/* panel categories */

.panel-default .panel-heading {
    color: #fff;
    font-variant: small-caps;
    background-color: #708090;
    font-family: 'Raleway', sans-serif;
    border-color: #708090;
}

#heading-panel{
    background-color: rgb(112, 128, 144);
    color: #fff;
}

#heading-panel span a{
    color: #fff;
}

.list-group-item{
    padding-top: 5px;
    padding-bottom: 5px;
}

/* caroussel */

.carousel {
    height: 420px;
}
.item,
.active,
.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}



#slider-text{
    padding-top: 40px;
    display: block;
}
#slider-text .col-md-6{
    overflow: hidden;
}

#slider-text h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 3px;
    margin: 30px auto;
    padding-left: 40px;
}
#slider-text h2::after{
    border-top: 2px solid #c7c7c7;
    content: "";
    position: absolute;
    bottom: 35px;
    width: 100%;
}

#itemslider h4{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin: 10px auto 3px;
}
#itemslider h5{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin: 3px auto 2px;
}
#itemslider h6{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;;
    font-size: 10px;
    margin: 2px auto 5px;
}
.badge {
    background: #b20c0c;
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 31px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    border: 2px solid #FFF;
    box-shadow: 0 0 0 1px #b20c0c;
    top: 5px;
    right: 25%;
}
#slider-control img{
    padding-top: 60%;
    margin: 0 auto;
}
@media screen and (max-width: 992px){
    #slider-control img {
        padding-top: 70px;
        margin: 0 auto;
    }
}

.carousel-showmanymoveone .carousel-control {
    width: 4%;
    background-image: none;
}
.carousel-showmanymoveone .carousel-control.left {
    margin-left: 5px;
}
.carousel-showmanymoveone .carousel-control.right {
    margin-right: 5px;
}
.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3,
.carousel-showmanymoveone .cloneditem-4,
.carousel-showmanymoveone .cloneditem-5 {
    display: none;
}
@media all and (min-width: 768px) {
    .carousel-showmanymoveone .carousel-inner > .active.left,
    .carousel-showmanymoveone .carousel-inner > .prev {
        left: -50%;
    }
    .carousel-showmanymoveone .carousel-inner > .active.right,
    .carousel-showmanymoveone .carousel-inner > .next {
        left: 50%;
    }
    .carousel-showmanymoveone .carousel-inner > .left,
    .carousel-showmanymoveone .carousel-inner > .prev.right,
    .carousel-showmanymoveone .carousel-inner > .active {
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
        display: block;
    }
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
    .carousel-showmanymoveone .carousel-inner > .item.active.right,
    .carousel-showmanymoveone .carousel-inner > .item.next {
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.active.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev.right,
    .carousel-showmanymoveone .carousel-inner > .item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}
@media all and (min-width: 992px) {
    .carousel-showmanymoveone .carousel-inner > .active.left,
    .carousel-showmanymoveone .carousel-inner > .prev {
        left: -16.666%;
    }
    .carousel-showmanymoveone .carousel-inner > .active.right,
    .carousel-showmanymoveone .carousel-inner > .next {
        left: 16.666%;
    }
    .carousel-showmanymoveone .carousel-inner > .left,
    .carousel-showmanymoveone .carousel-inner > .prev.right,
    .carousel-showmanymoveone .carousel-inner > .active {
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner .cloneditem-2,
    .carousel-showmanymoveone .carousel-inner .cloneditem-3,
    .carousel-showmanymoveone .carousel-inner .cloneditem-4,
    .carousel-showmanymoveone .carousel-inner .cloneditem-5,
    .carousel-showmanymoveone .carousel-inner .cloneditem-6  {
        display: block;
    }
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
    .carousel-showmanymoveone .carousel-inner > .item.active.right,
    .carousel-showmanymoveone .carousel-inner > .item.next {
        -webkit-transform: translate3d(16.666%, 0, 0);
        transform: translate3d(16.666%, 0, 0);
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.active.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev {
        -webkit-transform: translate3d(-16.666%, 0, 0);
        transform: translate3d(-16.666%, 0, 0);
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev.right,
    .carousel-showmanymoveone .carousel-inner > .item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}

.carousel-control.right{
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0, 0, 0, 0) 100%) !important;
}

.carousel-control.left{
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0, 0, 0, 0) 100%) !important;
}

.center-block{
    max-height: 200px;
}


/* sidebar */
/* make sidebar nav vertical */
@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}